.modal-title, .exerciseTitle, .dateTitle {
  width: 100%
}

.exerciseTitle, .dateTitle {
  text-align: center
}

.exerciseTitle {
  text-transform: capitalize;
}

.fc-event-container {
  cursor: pointer
}

.calendar-body {
  margin: 0 auto;
  max-width: 900px;
}

.headerInfo {
  font-size: .7em
}

.error-message {
  background-color: #ff7272;
  color: white;
  padding: 1em;
}